@model IEnumerable<CatalogoProdutos.Models.Produto>

@{
    ViewData["Title"] = "Produtos Cadastrados";
}

<div class="pt-5">
    <p>
        <a asp-action="NovoProduto" class="btn btn-outline-dark btn-sm">Adcionar Produto</a>
    </p>
    <hr />
    <div class="border border-dark rounded-lg shadow">
        <div class="container p-5">
            @if (Model.Count() > 0)
            {
                <div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item @item.Id">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="@Url.Content(item.Foto)" class="img-thumbnail rounded-lg" height="128" width="128" />
                                    </div>

                                    <div class="col-3">
                                        <h5>@Html.DisplayFor(modelItem => item.Nome)</h5>
                                    </div>

                                    <div class="col-2">
                                        <h5><span class="badge-secondary">R$@Html.DisplayFor(modelItem => item.Preco)</span></h5>
                                    </div>

                                    <div class="col-4">
                                        <a asp-action="AtualizarProduto" asp-controller="Produtos" asp-route-Produtoid="@item.Id" class="btn btn-dark">Editar</a> |
                                        <a asp-action="DetalhesProduto" asp-controller="Produtos" asp-route-Produtoid="@item.Id" class="btn btn-dark">Detalhes</a> |
                                        <a style="color:white; cursor:pointer;" class="btn btn-danger" onclick="Excluir(@item.Id, 'Produtos')">Excluir</a> |
                                    </div>
                                </div>
                            </li>

                        }
                    </ul>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <span>Sem Produtos cadastrados ainda</span>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/Exclusao.js"></script>
}

